.loader {
    /*свг и/или анимация*/
}

.button {
    width: 120px;
    height: 30px;
    color: #FFF;
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    line-height: 20px;
}

.button:hover {
    width: 120px;
}