.App {
  position: relative;
}

/*html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}*/

.hw {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 40px;
}

.hwTitle {
  padding: 40px 40px 10px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
}

.mainWrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.hw1Title {
  padding-top: 140px;
}
