.greetingForm {
  display: flex;
  flex-direction: column;
}

.inputAndButtonContainer {
  display: flex;
  gap: 15px;
}

.error {
}

.input {
}

.input:focus {
}

.errorInput {
}

.button {
  width: 78px;
  height: 36px;
  background: #0066CC;
  border-radius: 3px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {
}

.greeting {
}
